body{

	
}
#container{
	
	background-image: url("../../assets/images/records_background.jpg"); 
  	background-repeat: none;
  background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	background-color: red;
	flex-direction: column;

	// justify-content: center;
	// align-items: center;
}

#opacity{
	// height: 100vh;
	// opacity: 0.8;

}

h1{
	 font-family: 'Playfair Display', serif;
	// font-size: 100px;
	// color: white;
	// font-weight: bold;
	// margin-top: -45px;	
	
}

h3{
	// margin-left: 50%;
	// color: white;	
}

#introText{
	
	text-align: center;
	margin-top: -5px;
	color: white;
	font-size: 30px;

}

#access{ 
	margin-top: -25px;
	flex-grow:1;
	color: white;
	
	// width: 500px;
	// height: 300px;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	
}

#register{
	// display: flex;
	// flex-direction: column;
	text-align: center;
	// justify-content: center;
	// align-items: center;
	// width: 250px;
	// height: 300px;
	font-family: 'Playfair Display', serif;
	// font-weight: bold;
	
}

#login{
	
	text-align: center;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// width: 250px;
	// height: 300px;
	// font-size: 20px;
	font-family: 'Playfair Display', serif;
	 font-weight: bold;
	
}

.reginput{
	// padding: 5px;
	// margin: 5px;
	// -webkit-border-radius: 50px;
	// -moz-border-radius: 50px;
	// border-radius: 20px;
	width: 80%;
  	height: 30px;
 	margin-bottom: 30px;
 	border-radius: 4px;
  	border: 1px solid #d4d7db;
  	padding-left: 10px;

	
}
#join_btn{

	background-color: #4c87e0;
	color: white;
}

.loginput{
	// padding: 5px;
	// margin: 5px;
	// padding: 5px;
	// margin: 5px;
	// -webkit-border-radius: 50px;
	// -moz-border-radius: 50px;
	// border-radius: 20px;
	width: 80%;
  	height: 30px;
 	margin-bottom: 30px;
 	border-radius: 4px;
  	border: 1px solid #d4d7db;
  	padding-left: 10px;
}

#regtext{
	// width: 250px;
	// height: 100px;
	// font-size: 22px;



}
.login{

	text-align: center;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}








