<button (click)="logout()">logout</button>

<div id="search">
	<h2 id="searchAlbums">Find Albums</h2>
	<input [(ngModel)]="newSearch.name" placeholder="artist or album"/>
	<button (click)="search()">Search</button>
</div>

<!-- put this in the modal body -->
<div id="results">
	<div *ngFor="let record of records" id="result-album">
		<div id="result-image">
			<a (click)="getDetails(record)">
				<img id='albumImage' src="{{record.thumb}}">
			</a>
		</div>
		<div id="info">
			<div id="result-name">
				<h3>{{record.title}}</h3>
			</div>
			<div id="result-year">
				<h3>{{record.year}}</h3>
			</div>
			<button id="saveButton" (click)="saveAlbum(record)">Add to Crate</button>
			<button id="wishButton" (click)="saveWish(record)">Add to Wishlist</button>
		</div>
	</div>
</div>

<h1>My Crate</h1>
<div id="crate">
	<div *ngFor="let album of albums" id="album">
		<div id="image">
			<a (click)="getSavedDetails(album)">
				<img id='albumImage' src="{{album.image_url}}">
			</a>
		</div>
		<div id="info">
			<div id="name">
				<h3>{{album.name}}</h3>
			</div>
			<div id="artist">
				<h3>{{album.artist}}</h3>
			</div>
			<div id="year">
				<h4>{{album.release_year}}</h4>
			</div>
			<button (click)="delete(album.id)">Delete</button>
		</div>
	</div>
</div>

<h1>My Wishlist</h1>
<div id="wishlist">
	<div *ngFor="let wish of wishes" id="wish">
		<div id="image">
			<a (click)="getSavedDetails(album)">
				<img id='albumImage' src="{{album.image_url}}">
			</a>
		</div>
		<div id="info">
			<div id="name">
				<h3>{{album.name}}</h3>
			</div>
			<div id="artist">
				<h3>{{album.artist}}</h3>
			</div>
			<div id="year">
				<h4>{{album.release_year}}</h4>
			</div>
			<button (click)="delete(album.id)">Delete</button>
		</div>
	</div>
</div>


