#albumImage{
	height: 50px;
	width: 50px;
}

#wishImage{
	height: 150px;
	width: 150px;
}

#crate{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
	overflow: hidden;
    white-space: nowrap;
}
td{
     width:20%;
     float:left;
     word-wrap:break-word;
    

}
tr{


}
#results{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
}

#wishlist{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
}

#album{
	width: 150px;
	padding: 5px;
	 border: 1px solid black;
}

#wish{
	width: 150px;
	padding: 5px;
}
#result-album{
	width: 150px;
	padding: 5px;
}

#info{
	display: flex;
	flex-direction: column;

}

#name{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	//margin-top: -13px;
	text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: fade(10px);
    margin-right: 10px;
}

#name:hover{
	overflow: visible;
	white-space: normal;
	
}

#result-name{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	margin-top: -13px;
	text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
      margin-right: 10px;
}
#result-name:hover{
	overflow: visible;
	white-space: normal;
}

#artist{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	//margin-top: -24px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	 margin-right: 10px;

}

#artist:hover{
	overflow: visible;
	white-space: normal;
}

#year{
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	//margin-top: -28px;
}

#result-year{
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	margin-top: -28px;
}



h1{
	font-family: 'Playfair Display', serif;
	
}

h2{
	font-family: 'Playfair Display', serif;
}

h3{
	font-family: 'Playfair Display', serif;
}