	

#albumImage{
	height: 50px;
	width: 50px;
}

#wishImage{
	height: 150px;
	width: 150px;
}

#crate{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
	overflow: hidden;
    white-space: nowrap;
}
td{
     width:20%;
     float:left;
     word-wrap: break-word;
     color: white;

    

}
tr{
	     border-bottom: 1px solid red;

}
hr{

	height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(197, 201, 207, 0.5);
}
#image{

	margin-left: 5px;
}
#results{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
}

#wishlist{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 auto;
}

#album{
	width: 150px;
	padding: 5px;
	 border: 1px solid black;

}

#wish{
	width: 150px;
	padding: 5px;
}
#result-album{
	width: 150px;
	padding: 5px;
}

#info{
	display: flex;
	flex-direction: column;

}

#name{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	margin-top: 13px;
	text-align: left;
   
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

#name:hover{
	overflow: visible;
	white-space: normal;
	
}

#result-name{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}
#result-name:hover{
	overflow: visible;
	white-space: normal;
}

#artist{
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	margin-top: 13px;
	overflow: hidden;
    white-space: nowrap;

	 margin-right: 10px;

}

#artist:hover{
	overflow: visible;
	white-space: normal;
}

#year{
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	 white-space: nowrap;
	margin-top: 13px;
}

#result-year{
	font-family: 'Playfair Display', serif;
	font-size: 12px;

}
#delete_btn{

	margin-left: 100px;
	float: right;
	margin-top: -22px;



}
#main_body{

	background-color: rgb(24, 24, 24);
	height: 100vh;
}
#button_delete{

	color:white;	
}
#album_list{

	margin-left: 10px;
}
#title{

	text-align: center;
	color: white;
}
button{

	color: white;
}



h1{
	font-family: 'Playfair Display', serif;
	
}

h2{
	font-family: 'Playfair Display', serif;
}

h3{
	font-family: 'Playfair Display', serif;
}