<button (click)="logout()">logout</button>

<div id="search">
	<h2 id="searchAlbums">Search Albums</h2>
	<input [(ngModel)]="newSearch.name" placeholder="artist or album"/>
	<button (click)="search()">Search</button>
</div>

<!-- put this in the modal body -->
<div *ngFor="let record of records">

	<a (click)="getDetails(record)">
		<img src="{{record.thumb}}">
	</a>
	<li>{{record.title}}</li>
	<li>{{record.year}}</li>
	<button (click)="saveAlbum(record)">Add to Crate</button>
</div>

<h1>My Crate</h1>
<div id="crate">
	<div *ngFor="let album of albums" id="album">
		<div id="iamge">
		<a (click)="getSavedDetails(album)">
			<img id='albumImage' src="{{album.image_url}}">
		</a>
		</div>
		<div id="info">
			<div id="name">
				<h3>{{album.name}}</h3>
			</div>
			<div id="artist">
				<h3>{{album.artist}}</h3>
			</div>
			<div id="year">
				<h4>{{album.release_year}}</h4>
			</div>
			<button (click)="delete(album.id)">Delete</button>
		</div>

	</div>
</div>


