body{

	
}
#container{
	background-image: url("../../assets/images/records_background.jpg"); 
  	background-repeat: none;
  	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;


}

#opacity{


}

h1{
	 font-family: 'Playfair Display', serif;	
	
}

h3{

}

#introText{
	
	text-align: center;
	margin-top: -5px;
	color: white;
	font-size: 30px;

}

#access{ 
	margin-top: -25px;
	flex-grow:1;
	color: white;
	
}

#register{

	text-align: center;
	font-family: 'Playfair Display', serif;
	
	
}

#login{
	
	text-align: center;
	font-family: 'Playfair Display', serif;
	 font-weight: bold;
	
}

.reginput{

	width: 80%;
  	height: 30px;
 	margin-bottom: 30px;
 	border-radius: 4px;
  	border: 1px solid #d4d7db;
  	padding-left: 10px;
	
}

.loginput{

	width: 80%;
  	height: 30px;
 	margin-bottom: 30px;
 	border-radius: 4px;
  	border: 1px solid #d4d7db;
  	padding-left: 10px;

}
#login_btn{

	background-color: #4c87e0;
	color: white;

}
#regtext{



}
.join{

	text-align: center;

}
textarea:focus, input:focus, button:focus{
    outline: none;
}







